
.popupWrapper{
    width: 470px;
    height: 330px;
    position: absolute;
    z-index: 4;
    background-color: #dfedff;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.modalComponent{
    height: 100%;
    width: 100%;
    background-color: #00000091;
    z-index: 1;
}
.btn{
    border: none;
    font-size: 30px;
    background-color: #dfedff;
    cursor: pointer;
}
.btn:hover{
    color: red;
}