.cart{
    width: 470px;
    height: 200px;
    position: relative;
    z-index: 1;
    background-color: #dfedff;
    border-radius: 5px;
    margin-top: 303px;
    margin-left: 80px;
    display: flex;
    flex-direction: column;
}
.p{
    margin-top: 0;
    text-align: center;
}
.btn{
    border: none;
    font-size: 30px;
    background-color: #dfedff;
    cursor: pointer;
}
.editeBtn{
    font-size: 16px;
    background-color: #dfedff;
    border: none;
    cursor: pointer;
}
.editeBtn:hover{
    color: red;
}
.btn:hover{
    color: red;
}
.btnDiv{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.text{
    text-align: center;
}
.form{
    display: flex;
    justify-content: center;
}
