.cart{
    width: 100%;
}
.btnDiv{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.btn{
    margin-left: 10px;
    margin-top: 10px;
    font-size: 16px;
    background-color: #def8fd;
    border: none;
    cursor: pointer;
}
.btn:hover{
    color: red;
}
.p{
    font-size: 16px;
    margin-left: 110px;
    margin-top: 0;
    margin-bottom: 3px;
}
.p span{
    color: red;
}
